@model TurboRango.Dominio.Restaurante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Restaurante</h4>
    <hr />
    <dl class="jumbotron">

        <h1>
            Nome: @Html.DisplayFor(model => model.Nome)
        </h1>
        <h4>
            Capacidade: @Html.DisplayFor(model => model.Capacidade)
        </h4>

        <h4>
            Categoria: @Html.DisplayFor(model => model.Categoria)
        </h4>

        <h4>
            Site: @Html.DisplayFor(model => model.Contato.Site)
        </h4>

        <h4>
            Telefone: @Html.DisplayFor(model => model.Contato.Telefone)
        </h4>

        <h4>
            Bairro: @Html.DisplayFor(model => model.Localizacao.Bairro)
        </h4>

        <h4>
            Logradouro: @Html.DisplayFor(model => model.Localizacao.Logradouro)
        </h4>

        <dt>
            @Html.DisplayName("Abrir Mapa")
        </dt>
       
    </dl>
</div>
<div>
    @Html.DisplayFor(model => model.produtos)
</div>

