@model IEnumerable<TurboRango.Dominio.Restaurante>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Turbo rango na veia</h1>
    <p class="lead">O melhores restaurantes da cidade!.</p>
    <p><a href="/Restaurantes" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
        <p>
            <h4>Restaurantes</h4>
        </p>

@foreach (var item in Model)
{
        <div class="col-xs-3">
            
                <dl class="dl-horizontal">
                    
                        <h4>
                            Nome: @Html.DisplayFor(modelItem => item.Nome)
                        </h4>
                       
                         <h6>
                            Capacidade: @Html.DisplayFor(modelItem => item.Capacidade)
                        </h6>

                        <h6>
                            Categoria: @Html.DisplayFor(modelItem => item.Categoria)
                        </h6>

                        <h6>
                            E-mail: @Html.DisplayFor(modelItem => item.Contato.Site)
                        </h6>

                        <h6>
                            Telefone: @Html.DisplayFor(modelItem => item.Contato.Site)
                        </h6>

                        <h6>
                            Localização: @Html.DisplayFor(modelItem => item.Localizacao.Logradouro)
                        </h6>
                    <p>
                    @Html.ActionLink("Detalhes", "Details", "Restaurantes", new { id = item.id }, new { @class = "btn btn-primary btn-xs" })</p>
                </dl>

        </div>
}